<div class="box-datos-user"> 
  <h3 class="user-data" *ngIf = "user">DEUDA DE {{user.firstName.toUpperCase()}} {{user.lastName.toUpperCase()}} </h3>
  <h3 class="user-data" *ngIf = "!user">USUARIO NO ENCONTRADO</h3>
</div>
<div class="box-deuda">
    <div class="box-option-deuda">
      <p class="total-deuda">Total: ${{deuda}}</p>
      <button class="button" *ngIf = "payDeuda && deuda != 0" (click) = "toggleSaldarDeuda()">
          Saldar Deuda
      </button>
    </div>

  <div class="box-saldar-deuda" *ngIf="saldarDeuda">
    <div class="box-saldar-deuda-tarjeta">
      <div class="box-opciones-pagar-deuda">
        <div class="">
          <button class="button efectivo" (click)="pagoEfectivo()">Pago en Efectivo</button>
        </div>
        <div class="">
          <button class="button" (click)="pagoTarjeta()">Pago con Tarjeta</button>
        </div>
      </div>
      <div class="box-card" *ngIf="hadCard && pressButtonCard">
        <div class="box-paragraph">
          <p class="paragraph">Desea pagar con la tarjeta cargada?</p>
        </div>
        <div class="box-datos-tarjeta">
          <div class="tarjeta">
            <div class="chip"></div>
            <div class="box-datos">
              <p class="dato-tarjeta nTarjeta" *ngIf="!permitirEditarTarjeta"> **** **** **** {{lastFourDigits}}</p>
              <form class="formEditCard dato-tarjeta nTarjeta" action="#" [formGroup]="cardFormGroup" *ngIf="permitirEditarTarjeta">
                <input id="numberCard" class="dato-tarjeta nTarjeta input-edit" type="text" formControlName="nTarjeta">
              </form>
            </div>

            <div class="box-datos">
              <p class="dato-tarjeta vencimiento" *ngIf="!permitirEditarTarjeta">{{ user?.tarjeta?.fechaVencimiento }}</p>
              <form class="formEditCard dato-tarjeta vencimiento" action="#" [formGroup]="cardFormGroup" *ngIf="permitirEditarTarjeta">
                <input class="dato-tarjeta vencimiento input-edit" type="text" formControlName="fechaVencimiento">
              </form>
            </div>

            <div class="last-data">
              <div class="box-fullname">
                <div class="box-datos">
                  <p class="dato-tarjeta fullname" *ngIf="!permitirEditarTarjeta">{{user?.tarjeta?.firstName}}</p>
                  <form class="formEditCard dato-tarjeta" action="#" [formGroup]="cardFormGroup" *ngIf="permitirEditarTarjeta">
                    <input id="firstname" class="dato-tarjeta fullname-input input-edit firstname-edit" type="text" formControlName="firstName">
                  </form>
                </div>
                <div class="box-datos">
                  <p class="dato-tarjeta fullname" *ngIf="!permitirEditarTarjeta">{{user?.tarjeta?.lastName}}</p>
                  <form class="formEditCard dato-tarjeta" action="#" [formGroup]="cardFormGroup" *ngIf="permitirEditarTarjeta">
                    <input id="lastname" class="dato-tarjeta fullname-input input-edit" type="text" formControlName="lastName">
                  </form>
                </div>
              </div>
              <div class="dato-tarjeta tipo-tarjeta"><img [ngClass]="imgTypeCardClass" src="{{typeCard}}" alt=""></div>
            </div>
          </div>
        </div>

        <div class="card-exist">
          <button *ngIf="showOptionButtonsToCard" class="edit button-edit-tarjeta" (click)="openEditByAdmin()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" fill="#121213">
              <path d="M16.6256 3.1285L9.29145 10.4626L9.29886 14.7098L13.537 14.7024L20.8682 7.37114C21.5912 8.75438 22 10.3278 22 11.9967C22 17.5196 17.5228 21.9967 12 21.9967C6.47715 21.9967 2 17.5196 2 11.9967C2 6.47386 6.47715 1.9967 12 1.9967C13.6689 1.9967 15.2423 2.40553 16.6256 3.1285ZM20.4853 2.09721L21.8995 3.51142L12.7071 12.7038L11.2954 12.7063L11.2929 11.2896L20.4853 2.09721Z"></path>
            </svg>
          </button>
      
          <div class="box-options-edit-card" *ngIf="activeOptionsEditCard">
            <button id="button-cancel-edit-card" class="button-option-edit-card" (click)="cancelEditCard()">✖</button>
            <button class="button-option-edit-card" (click)="confirmEditCard()">✔</button>
          </div>
      
          <div class="box-errors">
            <section class="box-error-card" *ngIf="firstnameCard?.invalid && (firstnameCard?.dirty || firstnameCard?.touched)">
                <div *ngIf="firstnameCard?.hasError('required')" class="error-message">El nombre es requerido.</div>
                <div *ngIf="firstnameCard?.hasError('soloLetras')" class="error-message">El nombre debe contener solo letras.</div>
            </section>
        
            <section class="box-error-card" *ngIf="lastnameCard?.invalid && (lastnameCard?.dirty || lastnameCard?.touched)">
                <div *ngIf="lastnameCard?.hasError('required')" class="error-message"> El apellido es requerido.</div>
                <div *ngIf="lastnameCard?.hasError('soloLetras')" class="error-message">El apellido debe contener solo letras.</div>
            </section>
        
            <section class="box-error-card" *ngIf="numberCard && (numberCard.invalid && (numberCard.dirty || numberCard.touched))">
                <div *ngIf="numberCard.hasError('required')" class="error-message">El Nº de tarjeta es requerido.</div>
                <div *ngIf="numberCard.hasError('soloNumeros')" class="error-message">La tarjeta debe tener solo numeros. </div>
                <div *ngIf="numberCard.hasError('validarTarjetaLongitud')" class="error-message">El Nº de tarjeta son 16 digitos.</div>
            </section>
            
            <section class="box-error-card" *ngIf="fechaVencimientoCard && (fechaVencimientoCard.invalid && (fechaVencimientoCard.dirty || fechaVencimientoCard.touched))">
                <div *ngIf="fechaVencimientoCard.hasError('required')">La fecha de vencimiento es requerida.</div>
                <div *ngIf="fechaVencimientoCard.hasError('validarFormatoFechaVencimiento')">Formato fecha de vencimiento debe ser MM/YY.</div>
                <div *ngIf="fechaVencimientoCard.hasError('validarFechaNoExpirada')">Tarjeta vencida.</div>
            </section>
          </div>
          <div class="box-result">{{resultEditCard}}</div>
        </div>

        <div class="box-options">
          <button id="newCard" class="button button-new-card" (click)="showFormToAddNewCard()">Agregar una nueva</button>
          <button id="yes" class="button button-yes" (click) = "showFormSecurityCode()">Si</button>
          <button class="button cancel" (click)="navegar(user!.id)">Cancelar pago</button>
        </div>
    </div>

    <div class="alert alert-success mt-3 successMessage" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div *ngIf = "!hadCard && pressButtonCard">
      <div class="card-is-empty">
        <div>
          <h4 class="guide">Necesita una tarjeta para continuar la operacion</h4>
          <button class="button" (click)="showFormToAddNewCard()">Agregar una tarjeta</button>
        </div>
      </div>
    </div>

    <div *ngIf="showFormNewCard">
      <div class="tarjeta-form-overlay">
        <button class="cancel-form" (click)="hideFormToAddNewCard()">X</button>
        <app-tarjeta-form></app-tarjeta-form>
      </div>
    </div>

    <div class="box-cvc" *ngIf="showFormCVC">
      <div class="box-content-cvc">
        <div class="box-field">
          <p class="field-cvc">Ingrese el codigo de seguridad de su tarjeta</p>
          <form action="" [formGroup]="cvcFormGroup" class="form">
            <input class="input-cvc" type="number" placeholder="CVC" formControlName="cvc">
          </form>
        </div>
    
        <div class="box-errors">
          <div class="box-error" *ngIf="cvc && (cvc.invalid && (cvc.dirty || cvc.touched))">
            <div *ngIf="cvc.hasError('required')">El codigo de seguridad es requerido.</div>
            <div *ngIf="cvc.hasError('validarCVCLongitud')">El codigo de seguridad es de 3 digitos.</div>
            <div *ngIf="cvc.hasError('soloNumeros')">Solo se permiten numeros.</div>
            </div>
        </div>

        <div *ngIf="cvcFormGroup.valid" class="box-form-confirm-buy">
          <form (ngSubmit)="buyWithActualCard()">
            <button class="btn btn-primary margenBoton" type="submit">Confirmar compra</button>
          </form>
        </div>
      </div>
    </div>
    
      <div *ngIf="isLoading" class="loading-overlay">
        <div class="loading-content">
          <div class="spinner"></div>
        </div>
      </div>
    </div>
  </div>
</div>