<form >
    
    <label for="">Nombre</label>
    <input type="text" name="firstName" formControlName="firstName">

    <label for="">Apellido</label>
    <input type="text" name="lastName" formControlName="lastName">

    <label for="">DNI</label>
    <input type="text" name="DNI" formControlName="DNI">

    <label for="">Email</label>
    <input type="text" name="email" formControlName="email">

    <label for="">Direccion</label>
    <input type="text" name="adress" formControlName="adress">

    <label for="">Contrasenia</label>
    <input type="text" name="password" formControlName="password">

</form>