* {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#titulo, #detalles-del-user, #configuracion, #componentes-con-opciones, #detalles {
    text-align: center;
}

#detalles-del-user, #configuracion {
    color: #007bff !important;
}

.profile{
    display: grid;
    justify-content: center;
}

.box-mi-perfil,
.box-datos-personales,
.box-datos-de-cuenta,
.box-domicilios,
.box-logout{
    padding-block: 0.4rem;
    padding-inline: 2rem;
}

.box-mi-perfil{
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    border-bottom: 0.1rem solid black;
}

.contenido-datos-domicilios,
.contenido-dni,
.contenido-infomacion-personal,
.contenido-datos-de-cuenta{
    display: block;
    text-align: center;
}

.box-logout{
    display: flex;
    justify-content: center;
}

.button-logout{
    padding-inline: 0.4rem;
    font-size: 1.1rem;
    padding-block: 0.4rem;
    background-color: rgb(130, 130, 130);
    border: 1px solid transparent;
    transition: border 0.3s ease, border-radius 0.3s ease;
    cursor: pointer;
}

.button-logout:hover{
    background-color: rgb(164, 164, 164);
    border-radius: 1rem;
}

.box-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-email-edit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.errors{
    display: flex;
    justify-content: center;
    text-align: center;
}

.box-mi-perfil{
    display: flex;
    align-items: center;
}

.account{
    width: 60px;
    height: 60px;
    margin-right: 0.3rem;
}

.container{
    margin-block: 1rem;
}

.sub-title{
    display: flex;
    justify-content: center;
}

.img-edit{
    width: 22px;
    height: 22px;
}

.contenido-infomacion-personal{
    margin-bottom: 1rem;
}

.paragraph{
    display: flex;
    align-items: center;
    margin: 0%;
    margin-top: 0.2rem;
    color: rgb(103, 95, 95);
}

.edit{
    margin-left: 0.8rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.confirm-button{
    border: none;
    font-size: 1.2rem;
    border-radius: 2rem;
    background-color: rgb(7, 185, 7);
    margin-right: 0.2rem;
    padding-inline: 0.4rem;
}

.cancel-button{
    border: none;
    font-size: 1.2rem;
    border-radius: 2rem;
    background-color: rgb(197, 4, 4);
    padding-inline: 0.4rem;
}

.options-container{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.edit-input{
    width: max-content;
    outline: none;
    border: none;
    border-bottom: 0.1rem black solid;
    text-align: center;
    color: rgb(97, 97, 97);
    width: 13rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .confirm-button-logout, .cancel-button-logout {
    padding: 0.4rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: border 0.3s ease, border-radius 0.3s ease;
  }
  
  .confirm-button-logout {
    background-color: rgb(130, 130, 130);
    color: white;
    border: none;
  }
  
  .cancel-button-logout {
    background-color: rgb(130, 130, 130);
    color: white;
    border: none;
  }

  .confirm-button-logout:hover,
  .cancel-button-logout:hover{
    background-color: rgb(164, 164, 164);
    border-radius: 1rem;
}