* {
    margin: 0;
    padding: 0;
}

.box-alternative-options {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-categories {
    padding: 0;
    position: relative; 
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.box-offers,
.box-fav-list,
.box-biblioteca,
.box-users{
    margin-right: 2rem;
}

.box-information-categories {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-arrow {
    display: flex;
    align-items: center;
    width: 35px;
    height: 40px;
}

.categories-container {
    position: absolute;
    top: 100% ; /* Coloca el recuadro justo debajo del botón */
    left: 0;
    background-color: rgba(21, 21, 21, 0.8) ; /* Color de fondo gris semitransparente */
    padding: 0.4rem;
    box-shadow: 0 4px 8px rgba(77, 77, 77, 0.2); /* Sombra */
    z-index: 10;
    width: calc(100% + 7.8rem);
}

.categories {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 0.5rem; /* Espacio entre las categorías */
    justify-content: center;
    width: 100%;
}

.li-category {
    transition: 0.4s;
    padding: 0.2rem 1rem;
    width: 100%; /* Ocupa todo el ancho del contenedor */
}

.li-category:hover {
    background-color: rgba(169, 169, 169, 0.5);
    width: 100% ; /* Asegura que el hover ocupe el ancho completo */
}

.button-category {
    color: aliceblue;
    background: transparent ;
    border: none;
    padding: 0.4rem;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del li */
    text-align: center; /* Alinea el texto a la izquierda */
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.option-categories{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.3rem;
    padding-inline: 0.5rem;
    font-size: 1.15rem;
    background-color: #747474;
    border: none;
    cursor: pointer;
    color: aliceblue;
}
 
.button {
    background-color: #747474;
    cursor: pointer;
    padding: 0.7rem;
    padding-inline: 1.15rem;
    font-size: 1.15rem;
    border: none;
    transition: border 0.3s ease, border-radius 0.3s ease;
    color: aliceblue;
}

.option-categories:hover,
.button:hover{
    color: rgb(187, 187, 187);
}
