<div class="container mt-5">
  <section>
    <div class="row">
      <div class="col-md-6">
        <p class="espaciado"><strong>Nombre y Apellido:</strong> {{usuarioActual?.firstName}} {{usuarioActual?.lastName}}</p>
        <p class="espaciado"><strong>Email:</strong> {{usuarioActual?.email}}</p>
        <p class="espaciado"><strong>Dirección:</strong> {{usuarioActual?.address}}</p>
        <p class="espaciado"><strong>DNI:</strong> {{usuarioActual?.dni}}</p>
      </div>
    </div>
  </section>
</div>
