<app-alternative-options></app-alternative-options>
<section *ngIf="arrayFilms.length > 0" class="box">
  <div class="box-title">
    <h4 class="title"> {{Flist.listaFav.name.toUpperCase()}} </h4>
  </div>  

  <div class="box-vaciar">
    <button class="button-vaciar" (click)="vaciarFavouriteList()"> Vaciar Lista </button>
  </div>

  <div *ngFor="let group of getMovieGroups(arrayFilms)" class="box-group-films">
      <div *ngFor="let film of group" class="recuadroCelda film">  
        <div class="box-star">
          <button id = "buttonStar" (click)="quitarFilmDeFlist(film)" class = "button-star">
            ★
          </button>
        </div>

        <div class="box-img-title">
          <img class="image" [src]="film.image" alt="Imagen no disponible">
          <p class="title-text">{{film.title}}</p>
        </div>

        <div class="box-options">
          <button class="button ficha-tecnica" (click)="navegarFilmDetail(film.rank)">Detalles</button>
          <button class="button btn-carrito" (click)="agregarPeliculaAlCarrito(film)">
            <img class="carrito-logo" src="/assets/carrito.png" alt="">
            <span *ngIf = "film.precioDescuento == undefined" class="precio">$ {{ film.precio }}</span>
            <span *ngIf = "film.precioDescuento > 0" class="precio">$ <s>{{ film.precio }}</s></span>
            <span *ngIf = "film.precioDescuento > 0" class="precio">$ {{ film.precioDescuento }}</span>
          </button>
        </div>
      </div>
    </div>
</section>

<div *ngIf="arrayFilms.length === 0" class="classDiv">
  <div class="box-title">
    <h4 class="title"> {{Flist.listaFav.name.toUpperCase()}} </h4>
  </div>
  <div class="box-empty">
    <p class="text-empty">No tienes películas en tu lista de favoritos.</p> 
  </div> 
</div>


  
