* {
    text-align: center;
}

table {
    margin: 0 auto;
}

img {
    margin-top: 1px;
}

.classDiv {
   display: flex;
   justify-content: center;
}

/* Estilos para el recuadro de las películas */
::ng-deep .recuadroCelda {
    width: 200px !important;
    background-color: black !important;
    color: white !important;
    padding: 15px !important;
    border-radius: 10px !important;
    margin: 10px;
    box-sizing: border-box;
}

/* Añadir un borde blanco alrededor de cada recuadro */
::ng-deep .recuadroCelda {
    border: 10px solid white;
}

::ng-deep .celdaBotonEspaciado {
    padding: 15px;
}

::ng-deep .button-star 
{
    text-align: right !important;
    margin-bottom: 10px;
    border: none;
    font-size: 40px;
    background: none;
    color: white;
} 

button{
    margin-right: 10px;
}

.button-container {
    margin-top: 10px;
    display: none; /* Ocultar botones inicialmente */
    text-align: center;
    padding: 5px !important;
  }
  
  /* Mostrar los botones cuando se pasa el mouse por encima de la celda */
.recuadroCelda:hover .button-container {
    display: block;
  }