.estiloBusqueda {
    display: inline;
    background-color: white;
    border: solid;
    border: 1px solid lightcoral;
    margin: 0px;
    padding: 0.5rem;
}

#barra-busqueda{
    justify-content: center;
    margin-bottom: 1.5rem;
}

.classEstrella {
    margin-top: 0px !important; 
    margin-bottom: 1px;
}

.estiloBusqueda{
    width: 150px !important; /* Puedes ajustar este valor según tus preferencias */
    height: 150px !important;
}

.custom-input {
    width: 100%;
    margin: 0 auto; /* Esto centra el input horizontalmente en su contenedor */
}

.resultados-busqueda {
    backdrop-filter: blur(10px); /* Fondo desenfocado */
    /* background-color: rgba(0, 0, 0, 0.5); */ /* Color de fondo sólido (ejemplo: semitransparente negro) */
}