*{
    text-align: center;
}

.classDiv {
    display: block;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
}

.box-empty{
    border-radius: 0.2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    background-color: #747474;
    width: max-content;
    margin: 0 auto;
    margin-block: 4rem;
}

.text-empty{
    margin: 0%;
    font-size: 1.5rem;
}

.deuda{
    color: aliceblue;
    font-size: 1.2rem;
    display: grid;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.button-deuda {
    background-color: #747474;
    cursor: pointer;
    padding: 0.7rem;
    padding-inline: 1.15rem;
    font-size: 1.15rem;
    border: none;
    transition: border 0.3s ease, border-radius 0.3s ease;
    color: aliceblue;
    transition: 0.3s;
}

.button-deuda:hover{
    color: rgb(187, 187, 187);
}

* {
    text-align: center;
}

.box-title{
    margin-bottom: 1.7rem;
    padding: 1rem;
    padding-block: 0.9rem;
    background-color: #747474;
}

.title{
    margin: 0%;
    color: aliceblue;
}

.box{
    transition: 2s;
    margin-block: 2rem;
}

/* Estilos para el recuadro de las películas */

/* Añadir un borde blanco alrededor de cada recuadro */
.celdaBotonEspaciado {
    padding: 15px;
}

.box-group-films{
    display: flex;
    justify-content: center;
}

.recuadroCelda {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 555px;
    background-color: black !important;
    color: aliceblue !important;
    border-radius: 10px !important;
    margin: 8px;
    padding: 0.2rem;
    transition: 0.5s;
}

.box-deuda-info{
    margin-top: 0.2rem;
}

.recuadroCelda:hover{
    box-shadow: rgb(56, 56, 56) 5px 3.5px;
}

.recuadroCelda:hover .image {
    filter: brightness(0.6); /* Efecto de sombreado en la imagen */
}

.film{
    display: block;
}

.box-img-title{
    display: block;
}

.title-text{
    margin: 0rem;
    font-size: 1.2rem;
    padding-inline: 0.2rem;
    width: auto;
    font-weight: 800;
}

.box-star{
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el botón dentro del contenedor */
    margin-block:0.7rem;
}

.button-star {
    display: flex;
    justify-content: center;
    text-align: right !important;
    border: none;
    font-size: 40px;
    background: none;
    color: white;
    transition: 0.3s;
} 

.button-star:hover {
    color: gold; /* Cambia el color de la estrella al pasar el mouse */
}

.image{
    height: 350px;
    width: 235px;
    margin-bottom: 1.8rem;
}

.button{
    width: auto;
    border-radius: 0.5rem;
    padding-inline: 0.4rem;
    font-size: 1.1rem;
    padding-block: 0.4rem;
    background-color:aliceblue;
    border: 1px solid transparent;
    transition: border 0.3s ease, border-radius 0.3s ease;
    cursor: pointer;
    color: black;
    font-weight: 450;
    transition: 0.3s, background-color 0.3s ease;
}


.button:hover, 
.button-devolucion:hover{
    background-color: #b6b6b6;
}

.button-devolucion{
    width: auto;
    border-radius: 0.5rem;
    padding-inline: 0.1rem;
    font-size: 1.1rem;
    padding-block: 0.1rem;
    background-color:aliceblue;
    border: 1px solid transparent;
    transition: border 0.3s ease, border-radius 0.3s ease;
    cursor: pointer;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

.carrito-logo{
    height: 45px;
    width: 45px;
}

.box-options {
    position: absolute;
    top: 50%; /* Centra verticalmente los botones */
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Espacio entre los botones */
    opacity: 0; /* Ocultar inicialmente */
    transition: opacity 0.3s ease;
    padding: 5px !important;
}

.recuadroCelda:hover .box-options {
    opacity: 1;
}


.no-favourite .box-img-title {
    margin-top: 3.2rem; /* Ajusta el margen para centrar el contenido verticalmente */
}

.no-favourite .recuadroCelda{
    height: 400px;
}

.content-deuda-actual{
    display: flex;
    justify-content: center;
}

.text-deuda{
    width: max-content;
    padding: 0.4rem;
    background-color: #545454;
    text-align: center;
}

.box-result{
    background-color: transparent;
    margin-block: 0.5rem;
    color: rgb(16, 119, 178);
}