button {
    margin-left: 30px;
    margin-top: 15px;
    background-color: rgb(129, 168, 240);
}

img{
    height: 50px;
    width: 50px;
    margin-bottom: none;
}

.menuLateral {
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-style: italic;
}

.sizeClass {
    font-size: 15px;
}

.colorFondo {
    background-color: rgb(129, 168, 240);
}

.recuadro {
    background-color: rgb(129, 168, 240);
    margin-right: 1700px;
    padding-bottom: 20px;
    margin-left: 30px;
}
  