<button class="menuLateral" (click)="toggleMenu()">
  <img src="https://cdn-icons-png.flaticon.com/128/8106/8106944.png" alt="Imagen de menu">
</button>
<div class="fondo-desenfocado" *ngIf="prendido">
  <div class="recuadro">
    <button class="menuLateral sizeClass colorFondo" (click)="navegarSobreNosotros('sobre-nosotros')" (click)="toggleMenu()">Sobre Nosotros</button>
    <button class="menuLateral sizeClass colorFondo" (click)="navegarOfertas('ofertas')" (click)="toggleMenu()">Ofertas</button>
  </div>
</div>


  
