*{
    text-align: center;
}

.classDiv {
    text-align: center; /* Alinea el contenido al centro horizontal */
    margin: 0 auto; /* Centra el bloque horizontalmente */
    width: 50%; 
}
td{
    text-align: center;
    font-size: 20px;
}