*{
    text-align: center;
}

table {
    border: 2px solid red;
}

.classDiv {
    margin: 0 auto;
    width: 50%; 
}

th{
    border: 2px solid red;
    margin-left: 100px;
}

td{
    border: 2px solid red;
    text-align: center;
    margin-left: 100px;
}