.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    padding-block: 0.5rem;
}

.github-logo {
    width: 50px;
    height: 48px;
    cursor: pointer;
}

.instagram-logo {
    width: 70px;
    height: 50px;
    cursor: pointer;
}

.box-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Asegúrate de que el contenedor de .box-redes sea relativo */
}

.bubbles {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    gap: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.show-bubbles {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

.ig .bubbles {
    bottom: 130%;
    left: 49%; /* Alinea las burbujas con el logo de Instagram */
    transform: translateX(-50%) translateY(10px); /* Ajusta la posición centrada sobre Instagram */
}

.ig .bubble {
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4); /* Degradado para Instagram */
}

.linkedin .bubbles {
    bottom: 116%;
    left: 49%; /* Alinea las burbujas con el logo de LinkedIn */
    transform: translateX(-50%) translateY(10px); /* Ajusta la posición centrada sobre LinkedIn */
}

.linkedin .bubble {
    background: linear-gradient(45deg, #0077b5, #0a66c2, #005582, #004182); /* Tonos de azul para LinkedIn */
}

.github .bubbles {
    bottom: 130%; /* Ajusta según sea necesario para la posición de las burbujas */
    left: 50%;
    transform: translateX(-50%) translateY(10px); /* Centrado sobre el logo de GitHub */
}

.github .bubble {
    background: linear-gradient(45deg, #333333, #24292e, #0d1117, #161b22); /* Tonos oscuros para GitHub */
}

.bubble {
    border: 1px solid rgb(120, 120, 120);
    border-radius: 1rem;
    background: linear-gradient(45deg, 
    #F58529, 
    #FEDA77, 
    #DD2A7B, 
    #8134AF, 
    #515BD4);
    padding: 0.15rem;
    margin: 0;
    opacity: 1; /* Las burbujas dentro deben ser visibles, se maneja con el padre */
    transform: translateY(0);
}

.img-linkedin {
    width: 70px;
    height: 70px;
    border-radius: 2rem;
    object-fit: cover;
}

.img-github{
    width: 70px;
    height: 70px;
    border-radius: 2rem;
    object-fit: cover;
}

.img-ig{
    width: 70px;
    height: 70px;
    border-radius: 2rem;
    object-fit: cover;
}

.ig{
    margin-right: 1.5rem;
}

.box-github{
    margin-right: 1.5rem;
}

.linkedin-logo {
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.footer-section{
    margin-top: 0.5rem;

    p{
        margin: 0%;
    }
}

.ig, .linkedin, .github {
    position: relative; /* Asegura que las burbujas se posicionen respecto a los logos */
}
