<section class="footer">
    <div class="box-redes">
        <div class="ig">
            <img class="instagram-logo" src="/assets/instagram-logo.png" alt="Instagram">
            <div class="bubbles">
                <div class="bubble">
                    <a href="https://www.instagram.com/tomirrrrrr/" target="_blank">
                        <img class="img-ig" src="/assets/GitHub.webp" alt="">
                    </a>
                </div>
                <div class="bubble">
                    <a href="https://www.instagram.com/lucasgomez0804/" target="_blank">
                        <img class="img-ig" src="/assets/Lucas.jpg" alt="">
                    </a>
                </div>
                <div class="bubble">
                    <a href="https://www.instagram.com/lautiruiz04/" target="_blank">
                        <img class="img-ig" src="/assets/GitHub.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
    
        <div class="github">
            <a href="https://github.com/TomasRosa/TPFinalRuizGomezRosa" target="_blank">
                <img class="github-logo" src="/assets/GitHub-logo.png" alt="GitHub">
            </a>
        </div>

        <div class="linkedin">
            <img class="linkedin-logo" src="/assets/LinkedIn-logo.webp" alt="LinkedIn">
            <div class="bubbles">
                <div class="bubble">
                    <a href="https://www.linkedin.com/in/tomaslautarorosa/" target="_blank">
                        <img class="img-linkedin" src="/assets/LinkedIn-logo.webp" alt="LinkedIn 3">
                    </a>
                </div>
                <div class="bubble">
                    <a href="https://www.linkedin.com/in/lucas-g%C3%B3mez-a0b33124a/" target="_blank">
                        <img class="img-linkedin"  src="/assets/Lucas.jpg" alt="LinkedIn 1">
                    </a>
                </div>
                <div class="bubble">
                    <a href="https://www.linkedin.com/in/lautaro-hern%C3%A1n-ruiz/" target="_blank">
                        <img class="img-linkedin" src="/assets/LinkedIn-logo.webp" alt="LinkedIn 2">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-section">
        <p>&copy; 2024 Film Rental System. All rights reserved.</p>
    </div>
</section>