.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(120, 120, 120);
    padding-block: 0.5rem;
}

.github-logo {
    width: 50px;
    height: 48px;
}

.instagram-logo {
    width: 70px;
    height: 50px;
    cursor: pointer;
}

.box-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Asegúrate de que el contenedor de .box-redes sea relativo */
}

.bubbles {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    gap: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
}

.show-bubbles {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
}

.ig .bubbles {
    bottom: 130%;
    left: 49%; /* Alinea las burbujas con el logo de Instagram */
    transform: translateX(-50%) translateY(10px); /* Ajusta la posición centrada sobre Instagram */
}

.linkedin .bubbles {
    bottom: 116%;
    left: 49%; /* Alinea las burbujas con el logo de LinkedIn */
    transform: translateX(-50%) translateY(10px); /* Ajusta la posición centrada sobre LinkedIn */
}

.bubble {
    background: linear-gradient(45deg, 
    #F58529, 
    #FEDA77, 
    #DD2A7B, 
    #8134AF, 
    #515BD4);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 2rem;
    padding: 0.3rem 0.35rem;
    margin: 0;
    opacity: 1; /* Las burbujas dentro deben ser visibles, se maneja con el padre */
    transform: translateY(0);
}

.img-ig{
    width: 52px;
    height: 52px;
    border-radius: 2rem;
}

.ig{
    margin-right: 1.5rem;
}

.github{
    margin-right: 1.5rem;
}

.linkedin-logo {
    width: 62px;
    height: 62px;
    cursor: pointer;
}

.img-linkedin {
    width: 52px;
    height: 52px;
    border-radius: 2rem;
}

.footer-section{
    margin-top: 0.5rem;

    p{
        margin: 0%;
    }
}

.ig, .linkedin {
    position: relative; /* Asegura que las burbujas se posicionen respecto a los logos */
}

