<section class="footer" (click)="hideBubbles()">
    <div class="box-redes">
        <div class="ig-container">
            <div class="ig" (click)="toggleIgBubbles(); $event.stopPropagation()">
                <img class="instagram-logo" src="/assets/instagram-logo.png" alt="Instagram">
                <div class="bubbles" [class.show-bubbles]="showIgBubbles">
                    <div class="bubble">
                        <a href="https://www.instagram.com/tomirrrrrr/" target="_blank">
                            <img class="img-ig" src="/assets/GitHub.webp" alt="">
                        </a>
                    </div>
                    <div class="bubble">
                        <a class="link" href="https://www.instagram.com/lucasgomez0804/" target="_blank">
                            <img class="img-ig" src="/assets/Lucas.jpg" alt="">
                        </a>
                    </div>
                    <div class="bubble">
                        <a class="link" href="https://www.instagram.com/lautiruiz04/" target="_blank">
                            <img class="img-ig" src="/assets/Lautaro Ruiz profile img.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-github">
            <div class="github" (click)="toggleGitHubBubbles(); $event.stopPropagation()">
                <img class="github-logo" src="/assets/GitHub-logo.png" alt="GitHub">
                <div class="bubbles" [class.show-bubbles]="showGitHubBubbles">
                    <div class="bubble">
                        <a class="link" href="https://github.com/TomasRosa" target="_blank">
                            <img class="img-github" src="/assets/GitHub.webp" alt="">
                        </a>
                    </div>
                    <div class="bubble">
                        <a class="link" href="https://github.com/JoelLucasGomez" target="_blank">
                            <img class="img-github" src="/assets/Lucas.jpg" alt="">
                        </a>
                    </div>
                    <div class="bubble">
                        <a class="link" href="https://github.com/Lautaro-Ruiz" target="_blank">
                            <img class="img-github" src="/assets/Lautaro Ruiz profile img.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="linkedin" (click)="toggleLinkedinBubbles(); $event.stopPropagation()">
            <img class="linkedin-logo" src="/assets/LinkedIn-logo.webp" alt="LinkedIn">
            <div class="bubbles" [class.show-bubbles]="showLinkedinBubbles">
                <div class="bubble">
                    <a href="https://www.linkedin.com/in/tomaslautarorosa/" target="_blank">
                        <img class="img-linkedin" src="/assets/LinkedIn-logo.webp" alt="LinkedIn 3">
                    </a>
                </div>
                <div class="bubble">
                    <a href="https://www.linkedin.com/in/lucas-g%C3%B3mez-a0b33124a/" target="_blank">
                        <img class="img-linkedin"  src="/assets/Lucas.jpg" alt="LinkedIn 1">
                    </a>
                </div>
                <div class="bubble">
                    <a href="https://www.linkedin.com/in/lautaro-hern%C3%A1n-ruiz/" target="_blank">
                        <img class="img-linkedin" src="/assets/Lautaro Ruiz profile img.jpg" alt="LinkedIn 2">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-section">
        <p>&copy; 2024 Film Rental System. All rights reserved.</p>
    </div>
</section>