<div *ngIf="showBuyWithActualCard">
    <div>
        <h4>Su tarjeta actual</h4>
        <div class="tarjeta">
            <div class="chip"></div>
            <div class="box-datos">
              <p class="dato-tarjeta nTarjeta"> **** **** **** {{lastFourDigits}}</p>
            </div>
            <div class="box-datos">
              <p class="dato-tarjeta vencimiento">{{ usuarioActual?.tarjeta?.fechaVencimiento }}</p>
            </div>
            <div class="last-data">
              <div class="box-fullname">
                <div class="box-datos">
                  <p class="dato-tarjeta fullname">{{usuarioActual?.tarjeta?.firstName}}</p>
                </div>
                <div class="box-datos">
                  <p class="dato-tarjeta fullname">{{usuarioActual?.tarjeta?.lastName}}</p>
                </div>
              </div>
              <p class="dato-tarjeta tipo-tarjeta">VISA</p>
            </div>
        </div>
    </div>
    <div>
        <h4>Desea comprar con esta tarjeta?</h4>
        <div>
          <button (click)="showFormConfirmBuy()">Si</button>
          <button (click)="showFormToAddNewCard()">Agregar una nueva</button>
          <button (click)="navegarInicio('inicio')">Cancelar compra</button>
        </div>
    </div>
</div>

<div *ngIf="showFormNewCard">
    <div class="tarjeta-form-overlay">
        <button class="cancel-form" (click)="hideFormToAddNewCard()">X</button>
        <app-tarjeta-form></app-tarjeta-form>
    </div>
</div>

<div *ngIf="showFormConfirmBuyWithActualCard" class="needs-validation">
    <form (ngSubmit)="buyWithActualCard()">
        <button class="btn btn-primary margenBoton" type="submit">Confirmar compra </button>
    </form>
</div>


<div id = "exitoCompra">
    {{result}}
</div>
