<div *ngIf="showBuyWithActualCard">
  <div class="box-tarjeta-agregada">
    <h4>Su tarjeta actual</h4>
    <div class="tarjeta">
      <div class="chip"></div>
      <div class="box-datos">
        <p class="dato-tarjeta nTarjeta"> **** **** **** {{lastFourDigits}}</p>
      </div>
      <div class="box-datos">
        <p class="dato-tarjeta vencimiento">{{ usuarioActual?.tarjeta?.fechaVencimiento }}</p>
      </div>
      <div class="last-data">
        <div class="box-fullname">
          <div class="box-datos">
            <p class="dato-tarjeta fullname">{{usuarioActual?.tarjeta?.firstName}}</p>
          </div>
          <div class="box-datos">
            <p class="dato-tarjeta fullname">{{usuarioActual?.tarjeta?.lastName}}</p>
          </div>
        </div>
        <div class="dato-tarjeta tipo-tarjeta"><img [ngClass]="imgTypeCardClass" src="{{typeCard}}" alt=""></div>
      </div>
    </div>
  </div>
  <div class="show-buttons">
    <h4>Desea comprar con esta tarjeta?</h4>
    <div class="box-options">
      <button id="newCard" class="button" (click)="showFormToAddNewCard()">Agregar una nueva</button>
      <button id="yes" class="button" (click)="showFormSecurityCode()">Si</button>
      <button class="button cancel" (click)="navegarInicio('inicio')">Cancelar compra</button>
      <button class="button margen-extra" (click)="pagarEnEfectivo()">Pagar en efectivo</button>
    </div>
  </div>
</div>

<div *ngIf="!showBuyWithActualCard">
  <div class="card-is-empty">
    <div>
      <h4 class="guide">Necesita una tarjeta para continuar la operacion</h4>
      <button class="button" (click)="showFormToAddNewCard()">Agregar una tarjeta</button>
    </div>
    <div class="cash">
      <h4 class="guide">Tambien puede continuar abonando en efectivo</h4>
      <button class="button margen-extra" (click)="pagarEnEfectivo()">Pagar en efectivo</button>
    </div>
  </div>
</div>

<div *ngIf="result" class="alert box-alert" [ngClass]="{'alert-success': result.includes('exitoso'), 'alert-danger': result.includes('error')}">
  {{ result }}
</div>

<div *ngIf="showFormNewCard && showFormAddCard">  
  <div class="tarjeta-form-overlay">
    <button class="cancel-form" (click)="hideFormToAddNewCard()">X</button>
    <app-tarjeta-form></app-tarjeta-form>
  </div>
</div>

<div class="box-cvc" *ngIf="showFormCVC">
  <div class="box-content-cvc">
    <div class="box-field">
      <p class="field">Ingrese el codigo de seguridad de su tarjeta</p>
      <form action="" [formGroup]="cvcFormGroup" class="form">
        <input class="input-cvc" type="number" placeholder="CVC" formControlName="cvc">
      </form>
    </div>

    <div class="box-errors">
      <div class="box-error" *ngIf="cvc && (cvc.invalid && (cvc.dirty || cvc.touched))">
        <div *ngIf="cvc.hasError('required')">El codigo de seguridad es requerido.</div>
        <div *ngIf="cvc.hasError('validarCVCLongitud')">El codigo de seguridad es de 3 digitos.</div>
        <div *ngIf="cvc.hasError('soloNumeros')">Solo se permiten numeros.</div>
      </div>
    </div>

    <div *ngIf="cvcFormGroup.valid">
      <form (ngSubmit)="buyWithActualCard()">
        <button class="btn btn-primary margenBoton" type="submit">Confirmar compra</button>
      </form>
    </div>
  </div>

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-content">
      <div class="spinner"></div>
      <p>{{ result }}</p>
    </div>
  </div>
</div>
