button{
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: #0C356A;
}

img{
    width: 50px;
    height: 50px;
}

.componente-esquina {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 350px;
}

.componente-esquina-boton-carrito {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 24px;
    margin-right: 250px;
    font-size: 1.45rem;
}

.componente-esquina-boton-user {
    position: absolute;
    top: 0;
    right: 0;
    size: 10px;
    margin-top: 6.9px;
    margin-right: 70px;
}

#buttonInicio{
    margin-top: 7.2px;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#navbar{
    display: grid;
    grid-template-columns: 20% 60% 20%; /* Distribuye los elementos a los extremos */
    grid-template-areas: 
    "box-main-menu  box-search-bar   box-extras";
    padding-inline: 2rem;
    padding-block: 1.6rem;
    align-items: center;
    background-color: #141414; /* Fondo base */
}

.box-main-menu, .box-search-bar, .box-profile{
    border: 0rem;
    display: flex;
    align-items: center;
}

.box-main-menu{
    grid-area: box-main-menu;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.img-main-menu{
    width: 85px;
    height: 80px;
    border-radius: 1.5rem;
}

.box-search-bar{
    justify-content: center;
    grid-area: box-search-bar;
    background-color: transparent;
}

.search-logo{
    width: 45px;
    height: 45px;
}

.items-for-search{
    display: flex;
    border: 0%;
    align-items: center;
    border-bottom: 0.11rem solid aliceblue;
    padding-inline: 2.5rem;
    transition: border-bottom 0.3s ease, border-radius 0.3s ease; /* Añadido */
}

.search-bar{
    background-color: transparent;
    margin-block: 0.2rem;
    font-size: 1.4rem;
    height: 3rem;
    width: 12rem;
    border: 0.1rem solid transparent;
    outline: 0.1rem solid transparent;
    margin-right: 1rem;
    color: aliceblue;
}

.search-bar:focus{
    border: aliceblue;
    border-radius: 1rem;
}

.search-bar::placeholder{
    color: aliceblue;
}

.active{
    display: flex;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
}

.button-profile, 
.button-shopping-cart{
    border: 0.1rem solid transparent;
    border-radius: 0rem; 
    background-color:transparent;
    transition: border 0.3s ease, border-radius 0.3s ease;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease;
    display: flex;
    justify-content: center;
    cursor: pointer;
    outline: none; /* Quita el contorno que aparece en foco */
}

.button-profile{
    margin: 0%;
}

.text-menu{
    font-size: 2.2rem;
}

.button-main-menu{
    font-family: 'League Gothic';
    border-radius: 0rem; 
    background-color:transparent;
    display: grid;
    justify-content: center;
    cursor: pointer;
    outline: none; 
    transition: 0.5s;
    color: aliceblue;
    transition: box-shadow 0.3s ease-in-out
}

.button-main-menu:hover{
    color: rgb(187, 187, 187);
}

.button-main-menu:focus {
    outline: none;
}

.img-profile{
    width: 62px;
    height: 62px;
}

.button-shopping-cart{
    padding: 0.2rem;
}

.button-shopping-cart:hover, 
.button-profile:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    background-color: #747474;
}

.img-shopping-cart{
    width: 47px;
    height: 47px;
}

.box-extras{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box-extras;
}

.box-profile{
    display: flex;
    justify-content: center;
}

.box-shopping-cart{
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-signIn-signUp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.button-sign-in,
.button-sign-up{
    background-color: #747474;
    cursor: pointer;
    padding: 0.7rem;
    padding-inline: 1.15rem;
    font-size: 1.15rem;
    border: none;
    transition: border 0.3s ease, border-radius 0.3s ease;
    color: aliceblue;
}

.button-sign-in:hover,
.button-sign-up:hover{
    border-radius: 1rem;
    color: rgb(187, 187, 187);
}

.box-result-search {
    position: absolute;
    top: 13%; /* Debajo de la barra de búsqueda */
    width: 50rem;
    transform: translateX(50%);
    background-color: #747474;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
}
  
.result-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid aliceblue;
    transition: background-color 0.3s ease; 
}

.result-item:hover {
    background-color: #545454;
}

.no-result{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0%;
    padding: 10px;
    border: none;
    background: none;
    text-align: center;
    margin-block:1rem;
}

.result-item:last-child {
    border-bottom: none;
}
  
.result-image {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit:cover;
    margin-right: 15px;
}
  
.result-info {
    display: flex;
    flex-direction: column;
}
  
.result-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: aliceblue;
}
  
.result-rating {
    font-size: 14px;
    color: #d6d9dc;
}

.icon {
    color: aliceblue; /* Cambia el color aquí */
    width: 55px;
    height: 55px;
}

.path-icon:hover{
    box-shadow: #ccc 1px 1px 1px 1px;
}

.shopping-cart-icon{
    color: aliceblue; /* Cambia el color aquí */
    width: 45px;
    height: 45px;
}


  