button{
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: #0C356A;
}

img{
    width: 50px;
    height: 50px;
}

.componente-esquina {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 350px;
}

.componente-esquina-boton-carrito {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 24px;
    margin-right: 250px;
    font-size: 1.45rem;
}

.componente-esquina-boton-user {
    position: absolute;
    top: 0;
    right: 0;
    size: 10px;
    margin-top: 6.9px;
    margin-right: 70px;
}

#buttonInicio{
    margin-top: 7.2px;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#navbar{
    display: grid;
    grid-template-columns: 20% 60% 20%; /* Distribuye los elementos a los extremos */
    grid-template-areas: 
    "box-main-menu  box-search-bar   box-extras";
    padding-inline: 2rem;
    padding-block: 1rem;
    align-items: center;
    border-bottom: 0.1rem solid black;
}

.box-main-menu, .box-search-bar, .box-profile{
    border: 0rem;
    display: flex;
    align-items: center;
}

.box-main-menu{
    grid-area: box-main-menu;
    display: flex;
    justify-content: center;
}

.img-main-menu{
    width: 100px;
    height: 50px;
}

.box-search-bar{
    justify-content: center;
    grid-area: box-search-bar;
}

.search-logo{
    width: 45px;
    height: 45px;
}

.items-for-search{
    display: flex;
    border: 0%;
    align-items: center;
    border-bottom: 0.11rem solid black;
    padding-inline: 2.5rem;
    transition: border-bottom 0.3s ease, border-radius 0.3s ease; /* Añadido */
}

.search-bar{
    margin-block: 0.2rem;


    font-size: 1.4rem;
    height: 3rem;
    width: 12rem;
    border: 0.1rem solid transparent;
    outline: 0.1rem solid transparent;
    margin-right: 1rem;
}

.search-bar:focus{
    border: black;
    border-radius: 1rem;
}

.search-bar::placeholder{
    color: black;
    letter-spacing: 0.2rem;
}

.active{
    display: flex;
    border-radius: 0rem 0rem 0.8rem 0.8rem;
}

.button-main-menu, .button-profile, .button-shopping-cart{
    border: 0.1rem solid transparent;
    border-radius: 0rem; 
    background-color:transparent;
    transition: border 0.3s ease, border-radius 0.3s ease;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button-profile{
    margin: 0%;
}

.button-main-menu:hover, 
.button-profile:hover, 
.button-shopping-cart:hover{
}

.img-profile{
    width: 62px;
    height: 62px;
}

.button-shopping-cart{
    padding: 0.45rem;
}

.button-main-menu{
    padding: 0.3rem !important;
    margin: 0%;
}

.img-shopping-cart{
    width: 47px;
    height: 47px;
}

.button-main-menu:hover,
.button-profile:hover,
.button-shopping-cart:hover {
    border-color: black; /* Cambia solo el color del borde */
    border-radius: 1rem; 
}

.box-extras{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box-extras;
}

.box-profile{
    display: flex;
    justify-content: center;
}

.box-shopping-cart{
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-signIn-signUp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.button-sign-in,
.button-sign-up{
    background-color: rgb(207, 204, 204);
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 0.1rem solid transparent;
    transition: border 0.3s ease, border-radius 0.3s ease;
    cursor: pointer;
    margin: 0%;
}

.button-sign-in{
    margin-right: 2rem;
}

.button-sign-in:hover,
.button-sign-up:hover{
    border-radius: 1rem;
    background-color: rgb(160, 160, 160);
}



  