button{
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: #0C356A;
}

img{
    width: 50px;
    height: 50px;
}

.componente-esquina {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 350px;
}

.componente-esquina-boton-carrito {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 24px;
    margin-right: 250px;
    font-size: 1.45rem;
}

.componente-esquina-boton-user {
    position: absolute;
    top: 0;
    right: 0;
    size: 10px;
    margin-top: 6.9px;
    margin-right: 70px;
}

#buttonInicio{
    margin-top: 7.2px;
}




  