<section id="navbar">
    <div class="box-main-menu">
        <button class="button-main-menu" (click)="navegar('inicio')"><img class="img-main-menu" src="/assets/Movie Box.png" alt=""></button>
    </div>
    
    <div class="box-search-bar">
        <div class="items-for-search" [ngClass]="{ 'active': isFocused }">
            <input [formControl]="formControl" class="search-bar" type="text" placeholder="Search..." (focus)="isFocused = true" (blur)="isFocused = false">
            <img class="search-logo" src="/assets/Search.png" alt="">      
        </div>
    </div>

    <div class="box-extras">
        <div *ngIf="showProfileAndShoppingCart" class="box-shopping-cart">
           <button class="button-shopping-cart" (click)="navegarCarrito()">
               <img class="img-shopping-cart" src="/assets/Shopping cart.png" alt="">    
           </button>
        </div>
        <div *ngIf="showProfileAndShoppingCart" class="box-profile">
            <button class="button-profile" (click)="navegarPerfil()">
               <img class="img-profile" src="/assets/person.png" alt="">             
            </button>
        </div>
        
        <div *ngIf="!showProfileAndShoppingCart" class="box-signIn-signUp">
            <button class="button-sign-in" (click)="signIn()">
                Sign in
            </button>
            <button class="button-sign-up" (click)="signUp()">
                Sign up
            </button>
        </div>
    </div>
</section>
  
  
  
