<button style = "background-color: #007bff;"class="menuLateral" (click)="toggleMenu()">
   <img src="https://cdn-icons-png.flaticon.com/128/3177/3177440.png" alt="Logo de usuario">
</button>

<div class="fondo-desenfocado" *ngIf="prendido">
    <ng-container *ngIf="!userService.isLoggedIn">
        <button class="menuLateral sizeClass colorFondo" (click)="navegarLogin('login')" (click)="toggleMenu()">Login</button>
        <br>
        <button class="menuLateral sizeClass colorFondo" (click)="navegarRegister('registrarse')" (click)="toggleMenu()">Registrarse</button>
    </ng-container>
    <ng-container *ngIf="userService.isLoggedIn">
        <button class="menuLateral sizeClass colorFondo" (click)="navegarPerfil('perfil')" (click)="toggleMenu()">Perfil</button>
        <br>
        <button class="menuLateral sizeClass colorFondo" (click)="navegarBiblioteca('biblioteca')" (click)="toggleMenu()">Biblioteca</button>
        <br>
        <button class="menuLateral sizeClass colorFondo" (click)="logout()" (click)="toggleMenu()">Cerrar sesion</button>
    </ng-container>
</div>


