.menuLateral {
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}

.sizeClass {
    font-size: 18px;
}

img{
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#botonAside{
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.menuLateral {
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-weight: bold;

}

.fondo-desenfocado {
    position: fixed;
    width: 100%;
    height: 100%;
}

.recuadro {
    display: inline-block;
    border-radius: 10px;
    top: 100px;
    left: 50px;
    padding: 20px;

}