<div class="container">
    <table>
        <tr>
            <td><button class="botonRedondeado" style = "background-color: green; border: 2px solid green;" (click) = "navegarGeneros('aventura')">Aventura</button></td>
            <td><button class="botonRedondeado" style = "background-color: rgb(178, 15, 15); border: 2px solid rgb(178, 15, 15);" (click) = "navegarGeneros('accion')">Accion</button></td>
        </tr>
        <tr>
            <td><button class="botonRedondeado" style = "background-color: rgb(200, 200, 21); border: 2px solid rgb(200, 200, 21);" (click) = "navegarGeneros('comedia')">Comedia</button></td>
            <td><button class="botonRedondeado" style = "background-color: darkblue; border: 2px solid darkblue;" (click) = "navegarGeneros('drama')">Drama</button></td>
        </tr>
        <tr>
            <td><button class="botonRedondeado" style = "background-color: rgb(0, 94, 255); border: 2px solid rgb(0, 94, 255);" (click) = "navegarGeneros('familiar')">Familiar</button></td>
            <td><button class="botonRedondeado" style = "background-color: rgb(195, 12, 192); border: 2px solid rgb(195, 12, 192);" (click) = "navegarGeneros('fantasia')">Fantasia</button></td>
        </tr>
        
    </table>
</div>
