<app-alternative-options></app-alternative-options>
<section *ngIf="filteredFilms.length > 0" class="box">
  <div class="box-title">
    <h4 class="title">{{category.toUpperCase()}}</h4>
  </div>  
  <div *ngFor="let group of getMovieGroups(filteredFilms)" class="box-group-films">
      <div *ngFor="let film of group" class="recuadroCelda film" [ngClass]="{'no-favourite': isAdmin}">  
        <div class="box-star" *ngIf = "!isAdmin">
          <button 
            (click)="toggleFavourite(film)" 
            class="button-star"
          >
            {{ isFavourite(film) ? '★' : '☆' }}
          </button>
        </div>

        <div class="box-img-title">
          <img class="image" [src]="film.image" alt="Imagen no disponible">
          <p class="title-text">{{film.title}}</p>
        </div>

        <div class="box-options">
          <button class="button ficha-tecnica" (click)="navegarFilmDetail(film.rank)">Detalles</button>
          <button *ngIf = "isLoggedIn && !isAdmin" class="button btn-carrito" (click)="agregarPeliculaAlCarrito(film)">
            <img class="carrito-logo" src="/assets/carrito.png" alt="">
            <span *ngIf = "film.precioDescuento == undefined" class="precio">$ {{ film.precio }}</span>
            <span *ngIf = "film.precioDescuento > 0" class="precio">$ <s>{{ film.precio }}</s></span>
            <span *ngIf = "film.precioDescuento > 0" class="precio">$ {{ film.precioDescuento }}</span>
          </button>
        </div>
      </div>
    </div>
</section>