<div *ngIf="isLoggedIn" class="box-carrito">
    <div class="box-title">
            <h4 class="title">CARRITO DE COMPRAS</h4>
    </div>
    <section class="padded box-content-shopping-cart">
        <div class="container justify-content-center">
            <div *ngIf="carritoDeCompras.length==0" class="box-empty">
                <p class="text-empty"> Aun no agregaste ninguna pelicula a tu carrito! </p>
            </div>

            <table *ngIf="carritoDeCompras.length!=0" class="film-table">
                <thead class="fila">
                    <tr>
                        <th class="align-middle column-title">IMAGEN</th>
                        <th class="align-middle column-title">TITULO</th>
                        <th class="align-middle column-title">GENERO</th>
                        <th class="align-middle column-title">RATING</th>
                        <th class="align-middle column-title">PRECIO</th>
                        <th class="align-middle column-title">ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pelicula of carritoDeCompras" class="fila">
                        <td class="align-middle"><img class="film-img"  [src]="pelicula.image" alt="Imagen de la película"></td>
                        <td class="align-middle paragraph">{{ pelicula.title }}</td>
                        <td class="align-middle paragraph">{{ pelicula.genre }}</td>
                        <td class="align-middle paragraph">{{ pelicula.rating }}</td>
                        <td class="align-middle paragraph">{{ pelicula.precio }}</td>
                        <td class="align-middle">
                            <button class="button"  (click)="eliminarDelCarrito(pelicula)">Eliminar</button>
                        </td>
                    </tr>
                    <tr class="last-fila">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="button" (click)="limpiarCarrito()">Limpiar carrito</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <div class="container">
        <p class="paragraph">Total del Carrito: {{ totalCarrito | currency: 'ARS $' }}</p>
    </div>
    <div class="container" *ngIf="!isEmpty">
        <button class="button" (click)="comprar()">Finalizar compra</button>
    </div>
</div>
<div *ngIf="!isLoggedIn">
    <p>Debes iniciar sesión para acceder al carrito.</p>
</div>