.recuadroFilm {
    width: 410px !important;
    background-color: black !important;
    color: white !important;
    padding: 15px !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    margin-left: 200px !important;
}

img {
    width: 380px;
    height: 530px;
}

::ng-deep .classTitle {
    text-align: center !important;
}