.no-border {
    border: none; /* Solo elimina todos los bordes */
    border-radius: 0; /* Eliminar bordes redondeados si es necesario */
  }
  .input-group {
    position: relative; /* Asegúrate de que el grupo de entrada tenga una posición relativa */
  }
  
  .btn-link {
    z-index: 2; /* Asegúrate de que el botón esté por encima del input */
    color: #007bff; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .btn-link:hover {
    color: #0056b3; /* Color del ícono al pasar el mouse */
  }

  .box-login {
    margin-top: 2rem;
    max-width: 550px; /* Limita el ancho máximo del formulario */
    width: 100%; /* Permite que sea responsive */
  }

  .card-login{
    background-color: #949494;
    color: aliceblue;
  }

  .text-registrate{
    color: rgb(222, 222, 222);
    text-decoration: underline;
  }

  .text{
    color: aliceblue;
    text-decoration: none;
  }

  .forget-password{
    color: rgb(222, 222, 222);
    text-decoration: underline;
  }

  .input{
    border-radius: 0.2rem;
  }
