.no-border {
    border-top: none; /* Quitar borde superior */
    border-right: none; /* Quitar borde derecho */
    border-left: none; /* Quitar borde izquierdo */
    border-radius: 0; /* Eliminar bordes redondeados si es necesario */
  }