<form class="needs-validation" [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" formControlName="email" required>
    </div>

    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password" required>
    </div>

    <button type="button" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="onSubmit()">Enviar</button>


    <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
</form>


