<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row justify-content-center">
    <div class="col-md-15">
      <div class="card shadow-lg" style="border-radius: 1rem; width: 100%; padding: 20px;">
        <div class="card-body p-5">
          <h2 class="card-title mb-4 text-center">INICIAR SESIÓN</h2>
          <form class="needs-validation" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group mb-4">
              <label for="email" class="label-spacing">Email</label>
              <input type="text" class="form-control no-border" id="email" name="email" formControlName="email" required 
                [ngClass]="{ 'is-invalid': loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) }">
              <div class="invalid-feedback">
                <div *ngIf="loginForm.get('email')?.hasError('required')">El email es requerido</div>
                <div *ngIf="loginForm.get('email')?.hasError('email')">El formato del email es incorrecto</div>
              </div>
            </div>

            <div class="form-group mb-4">
              <label for="password" class="label-spacing">Contraseña</label>
              <input type="password" class="form-control no-border" id="password" name="password" formControlName="password" required 
                [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) }">
              <div class="invalid-feedback">
                <div *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es requerida</div>
                <div *ngIf="loginForm.get('password')?.hasError('minlength')">La contraseña debe contener mínimo 6 caracteres</div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" style="width: 100%;">Iniciar Sesión</button>
            </div>

            <div class="text-center mt-3">
              <a [routerLink]="['/registrarse']" class="text-muted text-primary">
                ¿No tienes una cuenta? <span class="text-primary">Regístrate</span>
              </a>
            </div>

            <div class="alert alert-danger mt-3" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>
            <div class="alert alert-success mt-3" *ngIf="successMessage">
              {{ successMessage }}
            </div>
          </form>

          <!-- Formulario para ingresar el código de administrador -->
          <div *ngIf="isAdmin">
            <h2 class="card-title mb-4 text-center">Ingrese el Código de Administrador</h2>
            <form class="needs-validation" [formGroup]="codeForm" (ngSubmit)="verifyAdminCode()">
              <div class="form-group mb-4">
                <label for="code" class="label-spacing">Código de Administrador</label>
                <input type="text" class="form-control no-border" id="code" formControlName="code" required
                  [ngClass]="{ 'is-invalid': codeForm.get('code')?.invalid && (codeForm.get('code')?.dirty || codeForm.get('code')?.touched) }">
                <div class="invalid-feedback">
                  <div *ngIf="codeForm.get('code')?.hasError('required')">El código es requerido</div>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!codeForm.valid" style="width: 100%;">Verificar Código</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


